/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .HeadingLeft{
    padding-left: 15%;
  }

  #est{
    text-align: left;
    font: normal normal normal 22px/23px Questrial;
    letter-spacing: 6.6px;
    color: #FF7E61;
  }

  .heading1{
    text-align: left;
    font: normal normal normal 90px/93px Questrial;
    letter-spacing: 0px;
    color: #242931;
  }

.iconCap{
  text-align: center;
  font: normal normal normal 24px/25px Questrial;
  letter-spacing: 0px;
  color: #00AA8A;
  }

  .belHead{
    text-align: left;
    font: normal normal normal 45px/46px Questrial;
    letter-spacing: 0px;
    color: #242931;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #f2f2f2;
  }
  #features
  {
    padding: 7% 15%;
    text-align: center;
  }
  .feature-box
  {
    text-align: center;
    padding: 5%;
  }
  #form
  {
    display: inline block;
  }

  .formMargin{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    margin-right: 18%;
  }

  .formHeading{
    text-align: left;
    font: normal normal normal 90px/93px Questrial;
    letter-spacing: 0px;
    color: #242931;
  }
  
  .formBelHeading{
    text-align: left;
    font: normal normal normal 20px/20px Questrial;
    letter-spacing: 0px;
    color: #242931;
  }

  .formsmlHeading{
    text-align: left;
    font: normal normal normal 20px/20px Questrial;
    letter-spacing: 0px;
    color: #242931;
  }

  #subButt{
    background: #242931 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 15px #00000029;
border-radius: 9px;
text-align: left;
font: normal normal normal 26px/26px Questrial;
letter-spacing: 5.2px;
color: #FFFFFF;
  }

  #subButt:hover{
    background-color:#00AA8A;
  }

  /* input.larger {
    width: 50px;
    height: 50px;
  } */

  input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}