.navbar{
    box-shadow: 0px 3px 6px #00000029;
    height: 112px;
    
}

.navbar-brand{
    padding-left: 200px;
    
    padding-left: 120px;
    
}
.navbar-nav{
    height: 112px;
    padding-top: 46px;
    padding-left: 1px;
    justify-content: space-evenly;
}
.navbar-nav .nav-item{
    padding-left: 50px;
    

}

@media(max-width:991px){
    .navbar-brand{
        padding-top: -1px;
        padding-left: 1px;
        margin-top: 0px;
        
    }
    .navbar{
        
        height: 270px;
    }
    .navbar-nav{
        padding-left: 1px;
        margin-left: 1px;
        
    }
}
