.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  #features
  {
    padding: 7% 15%;
    text-align: center;
    margin-bottom: 0%;
  }
  .feature-box
  {
    text-align: center;
    padding: 5%;
  }
  .heading{
    padding: 7% 15%;
  }
  
  
  
  #testimonials{
    text-align: center;
    margin-top: 0%;
  }
  .heading2{
    margin-top: 2%;
    margin-bottom: 2%;

  }
  hr{
    align-items: center;
  }
  .text1{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text2{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text3{
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: small;
    line-height: 200%;
    text-decoration: gray;
  }
  .button{
    margin-bottom: 2%;
  }
  .subheading{
    margin-bottom: 2%;
  }
  input[type=text], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 12px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 12px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 2%;
  }
  
  
  /* When moving the mouse over the submit button, add a darker green color */
  .btn2:hover {
    background-color:mediumaquamarine;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 .btn2{
   margin-bottom: 5%;
 }
 .h61{
  top: 211px;
  left: 391px;
  width: 370px;
  height: 13px;
  text-align: left;
  font: normal normal normal 22px/23px Questrial;
  letter-spacing: 6.6px;
  color: #F9522C;
  opacity: 1;
 }
 .bg-light{
   width: 100%;
 }