#navbarText{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-weight: 2%;
}
#navbarText li a {
color:black;
opacity: 0.6;
}
#navbarText li a:hover{
  color: rgb(214, 69, 24);
   
}
.btn1:hover
{
  background-color: mediumaquamarine;
}
.border-top{
 
  border-top: 0px;
  border-bottom: 2px solid #696969;
  margin-bottom: 0;
  box-shadow: 0 20px 20px -20px #333;
}

#SecondHeading{
  text-align: center;
font: normal normal normal 51px/53px Questrial;
letter-spacing: 0px;
color: #242931;
margin-top:0%
}


.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  #features
  {
    padding: 7% 15%;
    text-align: center;
    margin-bottom: 0%;
  }
  .feature-box
  {
    text-align: center;
    padding: 5%;
  }
  .heading{
    padding: 7% 15%;
    
  }
  
  #testimonials{
    text-align: center;
    margin-top: 0%;
  }
  .heading2{
    margin-top: 2%;
    margin-bottom: 2%;

  }
  hr{
    align-items: center;
  }
  .text1{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text2{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text3{
    margin-top: 2%;
    margin-bottom: 12%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text31{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .text4{
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: small;
    line-height: 160%;
    text-decoration: gray;
  }
  .button{
    margin-bottom: 2%;
  }
  .subheading{
    margin-bottom: 2%;
  }
  input[type=text], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 12px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 12px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 2%;
  }
  
  
  /* When moving the mouse over the submit button, add a darker green color */
  .btn2:hover {
    background-color:mediumaquamarine;
  }
  
  /* Add a background color and some padding around the form */
  
 .btn2{
   margin-bottom: 5%;
 }
 .h61{
  font-size: 22px 23px;
  color: #F9522C;
  letter-spacing: 6.6px;
  opacity: 1;
  font:  22px/23px ;
  font-weight: 1920px;
 }
 .bg-light{
   width: 100%;
 }
 .swapHeading{
  text-align: center;
font: normal normal normal 72px/74px Questrial;
letter-spacing: 0px;
color: #00AA8A;
}
.swapHeading3{
  text-align: center;
font: normal normal normal 54px/56px Questrial;
letter-spacing: 0px;
color: #00AA8A;
}
.content{
  text-align: center;
font: normal normal normal 15px/25px Questrial;
letter-spacing: 0px;
color: #242931;
opacity: 1;
}
#FirstHeading{
  text-align: left;
  font: normal normal normal 22px/23px Questrial;
  letter-spacing: 6.6px;
  color: #00AA8A;
}
 .heading1{
  text-align: left;
  font: normal normal normal 90px/93px Questrial;
  letter-spacing: 0px;
  color: #242931;

    
}
.subline{
  text-align: left;
  font: normal normal normal 45px/46px Questrial;
  letter-spacing: 0px;
  color: #242931;
}
h4{
  text-align: center;
font: normal normal normal 25px/33px Segoe UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-bottom: 4%;
}
.btn2{
  background: #FF7E61 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 15px #00000029;
border-radius: 7px;
opacity: 1;
}
.btn2:hover{
  background-color:#00AA8A;
}
.btn2 span{
  text-align: left;
font: normal normal normal 26px/26px Questrial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#00AA8A;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:20px;
  font-weight:lighter;
  font-size:18px;
  opacity: 1;
  font:26px/26px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:2;
  font-size:18px;
  font-weight:lighter;
  margin-bottom:0;
}

.footer-dark ul a {
  color: #FFFFFF;
  text-decoration:none;
  opacity:1;
}



@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
