.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-content: space-between;
  }
  body
  {
  margin: 0;
  text-align:left;
  font-family: sans-serif;
  }
  h1
  {
  font-family: Tahoma, sans-serif;
  }   