body
{
margin: 0;
text-align:left;
font-family: sans-serif;

}
#navbarText{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-weight: 2%;
}
#navbarText li a {
color:black;
opacity: 0.6;
}
#navbarText li a:hover{
  color: rgb(214, 69, 24);
}
.btn1:hover
{
  background-color: mediumaquamarine;
}
.fullpage{
padding: 5% 22%;
text-align: center;

}
.border-top{
 
  border-top: 0px;
  border-bottom: 2px solid #696969;
  margin-bottom: 0;
  box-shadow: 0 20px 20px -20px #333;
}
.subhead{
  font: 22px/23px;
letter-spacing: 6.6px;
color: #242931;
opacity: 1;

}
.heading_2
{
font:  90px/93px ;
letter-spacing: 2px;
color: #242931;
font-weight:normal;
opacity: 1;
font-weight: 647px;
font-size: 380%;
margin-bottom: 4%;
margin-top: 3%
}
.content{
  font:  25px/30px ;
letter-spacing: 0px;
color: #242931;
opacity: 1;
margin-bottom: 17%;

}
.subcontent{
  line-height: 2px;
  margin-bottom: 4%;
  opacity: 0.6;
  font:  25px/30px ;
}
.sub-heading-2{
  color: #696969;
opacity: 1;
margin-bottom: 4%;
}
.OpenCart
{
  float: left;
  margin-right: 30px;
}
.Magento
{
  float: left;
  margin-right: 30px;
}
.Prestashop
{
  float: left;
  margin-right: 30px;
}
.WooCommerce
{
  float: left;
  margin-right: 30px;
}
.head3{
  margin-top: 20%;
  font: 55px/57px ;
letter-spacing: 0px;
color: #242931;
opacity: 1;
font-weight:lighter;
margin-bottom: 3%;
}
h4
{
  font:  31px/32px ;
letter-spacing: 0px;
color: gray;
opacity: 1.2;
font-weight: lighter;
margin-bottom: 8%;
}
.btn3:hover{
background-color: #00AA8A;
}
.btn4:hover{
  color: #00AA8A;
  }

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#00AA8A;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:20px;
  font-weight:lighter;
  font-size:18px;
  opacity: 1;
  font:26px/26px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:2;
  font-size:18px;
  font-weight:lighter;
  margin-bottom:0;
}

.footer-dark ul a {
  color: #FFFFFF;
  text-decoration:none;
  opacity:1;
}



@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
