.heading{
    padding: 7% 15%;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  #features
  {
    padding: 7% 35%;
    text-align: center;
  }
  .feature-box
  {
    text-align: center;
    padding: 5%;
  }
  #para
  {
    text-align: center;
    
  }