.Heading{
  margin-left: 20%;
}

#FirstHeading{
  text-align: left;
  font: normal normal normal 22px/23px Questrial;
  letter-spacing: 6.6px;
  color: #00AA8A;
}

#mainHeading{
  text-align: left;
font: normal normal normal 90px/93px Questrial;
letter-spacing: 0px;
color: #242931;
}

#belHeading{
  text-align: left;
font: normal normal normal 45px/46px Questrial;
letter-spacing: 0px;
color: #242931;
}
  
#SecondHeading{
  text-align: center;
font: normal normal normal 51px/53px Questrial;
letter-spacing: 0px;
color: #242931;
}

.images{
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.imgcap1{
  text-align: center;
font: normal normal normal 22px/23px Questrial;
letter-spacing: 0px;
color: #00AA8A;
}

.imgcap2{
  text-align: center;
font: normal normal normal 20px/20px Questrial;
letter-spacing: 0px;
color: #242931;
}

.swapHeading{
  text-align: center;
font: normal normal normal 72px/74px Questrial;
letter-spacing: 0px;
color: #00AA8A;
}

#swapContent{
  text-align: center;
font: normal normal normal 15px/25px Questrial;
letter-spacing: 0px;
color: #242931;
}

.swapContentLink{
  text-align: center;
font: normal normal normal 15px/25px Questrial;
letter-spacing: 0px;
color: #00AA8A;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

#para{
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

#trialButton{
  background: #FF7E61 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 15px #00000029;
  border-radius: 9px;
}
#trialButton:hover{
  background: #00AA8A 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 15px #00000029;
  border-radius: 9px;
}