/* button#bt1{
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

button#bt2{
    margin-right: 310px;
    padding-left: 40px;
    padding-right: 40px;
} */

#navbarText{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

hr.border-top{
    box-shadow: inset 0 3px 0 0 rgb(35, 91, 194);
    height: 4px;
    border: 2px;
}

div.textf{
    text-align: center;
}

div.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}