button#bt1{
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

button#bt2{
    margin-right: 310px;
    padding-left: 40px;
    padding-right: 40px;
}

div#navy{
    margin-left: 310px;
}

div#carousel{
    margin-top: 100px;
}

hr{
  height: 0;
  border: 0;
  box-shadow: 0 0 10px 1px black;
}